@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@font-face {
  font-family: devil;
  src: url('../fonts/devil.ttf');
}
